* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}


/* intestazione */
header {
    background-color: rgb(255, 255, 255);
    height: 90px;
    line-height: 90px;
    /* line-height: 100%; */
    /* align-items: center; */
}

.header-img {
    height: 60px;
    margin-left: 30px;
    vertical-align: middle;
}

h1 {
    color: #021732;
    font-size: 40px;
    font-weight: 800;
    display: inline-block;
    vertical-align: middle;
    line-height: 15px; 
}


/* corpo */
body {
    background-color:#f6f8f9
}

.box {
    background-color: rgb(255, 255, 255);
    width: 1200px;
    height: 550px;
    margin: 75px auto;
    border-radius: 10px; 
} 
/* mettevo .container e non andava !!! */

.section-top {
    padding: 15px;
    margin-left: 30px;
}

.button-1 {
    padding: 5px 10px;
    border-radius: 7px;
    background-color: #47ADF1;
    color:#f6f8f9;
    border: 1px solid #47ADF1;
}

.button-2 {
    padding: 5px 10px;
    border-radius: 7px;
    background-color: transparent;
    color: #d6d7d7;
    border: 2px solid  #d6d7d7
}

hr {
    height: 2px;
    background-color: #f6f8f9;
    border: none; 
}

.container {
    padding: 10px 50px;
    color: #3c3c3c;
}

p {
    font-weight: 400;
    line-height: 35px;
    /* padding: 5px 0; */
}

h3 {
    font-weight: bolder;
    padding-top: 20px;
}
